.careers-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-bar-container {
    margin-bottom: 20px;
    position: relative;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
  }
  
  .search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .job-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .job-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .job-info {
    padding: 20px;
  }
  
  .job-info h2 {
    margin-bottom: 10px;
  }
  
  .job-info p {
    margin-bottom: 15px;
  }
  
  .apply-now {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-now:hover {
    background-color: #0056b3;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive layout for mobile devices */
  @media (max-width: 768px) {
    .job-list {
      grid-template-columns: 1fr; /* Show one job per row */
    }
  
    .job-card {
      margin-bottom: 20px; /* Add gap between stacked jobs */
    }
  }
  